aiomysql==0.0.22
anyio==3.3.4
asgiref==3.4.1
click==8.0.3
colorama==0.4.4
decouple==0.0.7
fastapi==0.70.0
greenlet==1.1.2
h11==0.12.0
idna==3.3
importlib-metadata==4.8.2
mysql==0.0.3
mysql-client==0.0.1
mysql-connector==2.2.9
mysqlclient==2.0.3
passlib==1.7.4
pydantic==1.8.2
PyJWT==2.3.0
PyMySQL==0.9.3
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.27
starlette==0.16.0
typing_extensions==4.0.0
uvicorn==0.15.0
zipp==3.6.0



post => mengirim data ke server/ request ke server
get => menampilkan data dari server/ response server
put => update data dari atau ke server/ request ke server
delete => hapus data dari server/ request ke server dan server meresponse


[https://github.com/akhfzz/fast-api-tutorial/blob/master/app.py
line 33 sampai 55
line 1-3 jg